
.logo h3 {
    color: #fff;
    padding: .3rem
}

.logo img {
    width: 50px;
    margin: 0 .8rem;
    float: left;
}

.background-body {
    background-color: #009688;
    position: absolute;
    height: 8rem;
    width: 100%;
    z-index: -1;
    top: 0
}

.background-body-login {
    height: 13rem;
    background-color: #5bbea5
}

.container-web {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    height: 90%;
}

.h-inherit {
    height: inherit;
}

.header-col {
    background-color: #eeeeee;
    padding-top: .6rem;
    padding-bottom: .5rem;
    flex: none;
}

.header-chat-icons {
    min-height: 40px;
    display: inline-block;
    float: right;
}

.header-chat-icons svg {
    margin: .3rem .7rem;
}

#headerChat {
    display: inline-block;
}

.color1 {
    background-color: #ece6e0;
}

.border-right {
    border-right: 1px solid #e0e0e0;
}

.color2 {
    background-color: #009688;
    color: #fff
}

.color3 {
    background-color: #74e870;
}

.pd-none {
    padding: 0px!important
}

.login-form {
    margin-top: 3%;
    padding: 3rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.login-form label {
    color: #55636B;
    font-size: 1.5rem;
    line-height: normal;
    font-weight: 300;
}

.form-group {
    margin-bottom: 2rem;
}

.full {
    width: 100%;
}

.mt {
    margin-top: 2%;
}

.margin {
    margin: 1rem;
}

.users-list {
    background-color: #fff;
    border-bottom-left-radius: 3px;
}

.user-container {
    padding: .6rem 0;
    border-bottom: 1px solid#ece6e0;
}

.user-container:hover {
    cursor: pointer;
    background-color: #f3f3f3
}

.user-name {
    font-size: .9rem;
    line-height: 2rem;
    font-weight: bold;
    padding-left: .8rem
}

.userImg {
    border-radius: 50%;
    width: 40px;
}

.t-right {
    text-align: right;
}

.icons svg {
    margin: .4rem
}

.input-msn {
    background-color: #f6f2ee;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-align: center;
}

.input-msn input {
    background-color: #fff;
    border-radius: 2.3rem;
    border: none;
    height: 40px;
    width: 85%;
    font-size: .9rem;
    padding: .5rem;
}

.input-msn i {
    font-size: 1.4rem;
    color: #a7a9a6;
    padding-top: .5rem;
}

.search-box {
    background-color: #fbfbfb;
    border-bottom: 1px solid #dddcdc;
    padding-top: .4rem;
    padding-bottom: .9rem;
}

.input-search {
    font-size: .8rem;
    background-color: #fff;
    border: 1px solid #f6f6f6;
    border-radius: .3rem;
}

.input-search input {
    background-color: #fff;
    border: none;
    height: 30px;
}

.input-search i {
    color: #d5d7d4;
    padding-left: .9rem;
}

#messagesContainer {
    padding: 1rem 3rem;
}

.messages {
    background-color: #e5ddd5;
    /* background-image: url('../assets/img/background2.png'); */
}

.message {
    max-width: 65%;
    word-wrap: break-word;
    font-size: .9rem;
    padding: .5rem;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
}

.remitent {
    float: left;
    background-color: #ffffff;
    border-radius: 0 7.5px 7.15px 7.15px;
}

.destination {
    float: right;
    background-color: #dcf8c6;
    border-radius: 7.5px 0 7.15px 7.15px;
}

.destination-icon {
    content: '';
    position: absolute;
    top: 0px;
    width: 15px;
    right: 3;
    height: 19px;
    background-image: url(../assets/img/right.png);
}

.remitente-icon {
    content: '';
    position: absolute;
    top: 0px;
    width: 15px;
    width: 18px;
    left: -3;
    height: 19px;
    background-image: url(../assets/img/left.png);
}

.time {
    font-size: .6rem;
    color: #767373;
    margin-left: .6rem;
}

.flex-d-c {
    flex-direction: column;
    height: 100%;
    display: flex
}

.flex-auto {
    flex: auto
}

.flex-none {
    flex: none
}

.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden
}

::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-track {
    background: #d7dbd6;
}

::-webkit-scrollbar-thumb {
    background: #bec0bd;
}